@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body.open {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}

.logo__link {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 32px;
  color: #192252;
}

.button__link {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  display: inline-block;
  height: 47px;
  line-height: 47px;
  padding: 0 16px;
  background: #0e1734;
  border-radius: 4px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  outline: 1px solid #ffffff;
}

.button__link:hover {
  outline: 1px solid #0e1734;
  background: #ffffff;
  color: #0e1734;
}

.title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: calc(25px + 23 * ((100vw - 320px) / 880));
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #192252;
}

.title_mini {
  font-size: calc(20px + 16 * ((100vw - 320px) / 880));
}

.text {
  font-family: Inter;
  font-size: calc(14px + 4 * ((100vw - 320px) / 880));
  line-height: 150%;
  color: #848fac;
}

.header {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  z-index: 50;
}

@media (max-width: 992px) {
  .header {
    height: 60px;
  }
}

.header .container {
  position: relative;
  z-index: 49;
}

.header::before {
  content: "";
  position: absolute;
  z-index: 48;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.header__burger {
  display: none;
}

@media (max-width: 768px) {
  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    height: 21px;
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 50;
    cursor: pointer;
  }
  .header__burger.open::before {
    -webkit-transform: rotate(45deg) translateY(-50%);
            transform: rotate(45deg) translateY(-50%);
    top: 50%;
  }
  .header__burger.open::after {
    -webkit-transform: rotate(-45deg) translateY(50%);
            transform: rotate(-45deg) translateY(50%);
    bottom: 50%;
  }
  .header__burger.open span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger::before, .header__burger::after {
    content: "";
    display: inline-block;
    height: 3px;
    width: 30px;
    background: #0e1734;
    border-radius: 3px;
    position: absolute;
    left: 0;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
  .header__burger span {
    display: inline-block;
    height: 3px;
    width: 30px;
    background: #0e1734;
    border-radius: 3px;
    position: relative;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header__button {
    margin: 0 45px 0 0;
  }
}

@media (max-width: 768px) {
  .navigation {
    position: fixed;
    z-index: 10;
    top: 60px;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 30px;
    overflow: auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .navigation.open {
    left: 0;
  }
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -16px;
}

@media (max-width: 768px) {
  .navigation__list {
    display: block;
    margin: 0;
  }
}

.navigation__item {
  padding: 0 16px;
}

@media (max-width: 768px) {
  .navigation__item {
    padding: 0;
    margin: 0 0 30px;
    text-align: center;
  }
}

.navigation__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #192252;
  position: relative;
}

.navigation__link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  height: 3px;
  border-radius: 3px;
  width: 0;
  background: #192252;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.navigation__link:hover::after {
  left: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .navigation__link {
    font-size: 25px;
  }
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 120px 0 0;
}

@media (max-width: 992px) {
  .main {
    margin: 60px 0 0;
  }
}

.nature {
  padding: 80px 0 96px;
}

@media (max-width: 992px) {
  .nature {
    padding: 40px 0;
  }
}

.nature__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -12px;
}

@media (max-width: 768px) {
  .nature__row {
    display: block;
    margin: 0;
  }
}

.nature__column {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 12px;
}

@media (max-width: 768px) {
  .nature__column {
    padding: 0;
  }
}

.nature__column_images {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.nature__title {
  margin: 0 0 24px;
}

.nature__text {
  margin: 0 0 32px;
  max-width: 515px;
}

@media (max-width: 992px) {
  .nature__text {
    margin: 0 0 24px;
  }
}

@media (max-width: 768px) {
  .nature__button {
    margin: 0 0 24px;
  }
}

.nature__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -12px;
  padding: 0 12px 0 0;
}

.nature__image {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  padding: 0 12px 80.003%;
}

.nature__image_center {
  margin: 20% 0 0;
  padding: 0 12px calc(80.003% + 20%);
}

.nature__image img {
  position: absolute;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cozy {
  padding: 80px 0;
}

@media (max-width: 992px) {
  .cozy {
    padding: 40px 0;
  }
}

.cozy__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -63px;
}

@media (max-width: 992px) {
  .cozy__row {
    margin: 0 -30px;
  }
}

@media (max-width: 768px) {
  .cozy__row {
    margin: 0 -15px;
  }
}

@media (max-width: 500px) {
  .cozy__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

.cozy__column {
  padding: 0 63px;
}

@media (max-width: 992px) {
  .cozy__column {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .cozy__column {
    padding: 0 15px;
  }
}

@media (max-width: 500px) {
  .cozy__column {
    padding: 0;
  }
}

.cozy__column_image {
  -ms-flex-preferred-size: 67.905%;
      flex-basis: 67.905%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 500px) {
  .cozy__column_image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .cozy__column_body {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.cozy__image {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  padding: 0 0 150%;
}

.cozy__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cozy__title {
  margin: 0 0 24px;
}

.cozy__text {
  margin: 0 0 32px;
  max-width: 615px;
}

@media (max-width: 992px) {
  .cozy__text {
    margin: 0 0 24px;
  }
}

.cozy__text p {
  margin: 0 0 16px;
}

.cozy__text p:last-child {
  margin: 0;
}

@media (max-width: 500px) {
  .cozy__button {
    margin: 0 0 24px;
  }
}
/*# sourceMappingURL=style.css.map */